In [1]:
import pandas as pd

In [2]:
dev_jobs = pd.read_csv('dev_jobs@getonbrd', names = ['jobs'], skiprows=1)

In [4]:
dev_jobs['jobs'] = dev_jobs['jobs'].apply(lambda x: x.lower())

In [5]:
#dev_jobs['jobs'].str.contains("full-stack | fullstack | developer | desarrollador | back-end | backend |")

dev_jobs[dev_jobs['jobs'].str.contains("u\U0001F600-\U0001F64F", regex=True)]

Empty DataFrame
Columns: [jobs]
Index: []

In [7]:
import re

In [8]:
dev_jobs = dev_jobs.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [9]:
dev_jobs['jobs'] = dev_jobs['jobs'].replace("desarrollador(a)", "desarrollador")

In [35]:
dev_jobs['jobs'] = dev_jobs['jobs'].replace("\(.*\)", "", regex=True)

In [36]:
a = dev_jobs['jobs'].str.split(",", expand=True)

In [37]:
a[2][a[2].notnull()]

319    feb 28
375    feb 16
Name: 2, dtype: object

In [38]:
a.iloc[[319, 375]]

                  0                      1       2
319  technical lead            cencommerce  feb 28
375       associate   technical consulting  feb 16